* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1020px;

  font-family: 'Lato', sans-serif;
}

.quote {
  height: 654px;

  background-image: url(assets/form-bg.png);
  background-color: #f06c64;
}

footer {
  height: 76px;
  
  background-image: url(assets/footer-bg.png);
  background-color: #2d303a;
}
