* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1020px;

  font-family: Lato, sans-serif;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;

  background-image: url(assets/header-bg.png);
  background-color: #2d303a;
}

.header-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1020px;
  padding: 0 40px;

  color: #ffffff;
}

h1 {
  position: relative;
  bottom: 4px;

  font-size: 25px;
  letter-spacing: -0.02em;
  line-height: 6.32px;
  font-weight: 400; 
}

.logo span {
  color: #f06c64;
}

nav a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #f06c64;
}

nav a::after {
  content: "·";
  padding: 0 9px 0 13px;
  color: #494e62;
}

#last-item {
  padding-right: 0;
}

#last-item::after {
  content: none;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 600px;
  padding: 0 40px 6px 40px;

  background-image: url(assets/slider-bg.png);
  background-color: #f06c64;
}

#iPhone-vert {
  position: relative;
  right: 5px;
  bottom: 3px;
}

#iPhone-hor {
  position: relative;
  left: 6px;
  bottom: 3px;
}

#arrow-left {
  position: relative;
  left: 2px;
  bottom: 1px;
}

#arrow-right {
  position: relative;
  bottom: 1px;
}