* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1020px;

  font-family: 'Lato', sans-serif;
}

header {
  position: fixed;
  top: 0;
  z-index: 10; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1020px;
  height: 95px;

  background-image: url(assets/header-bg.png);
  background-color: #2d303a;
}

.header-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 39px 0 40px;

  color: #ffffff;
}

#burger {
  display: none;
}

h1 {
  position: relative;
  bottom: 4px;

  font-size: 25px;
  letter-spacing: -0.02em;
  line-height: 6.32px;
  font-weight: 400; 
  font-stretch: extra-condensed;
}

.logo span {
  color: #f06c64;
}

nav a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #f06c64;
}

#menu .active {
  color: #f06c64;
}

nav a::after {
  content: "·";
  padding: 0 9px 0 13px;
  color: #494e62;
}

#last-item {
  padding-right: 0;
}

#last-item::after {
  content: none;
}

#slider {
  position: relative;
  width: 100vw;
  max-width: 1020px;
  height: 695px;
  overflow: hidden;
}

.for-header {
  height: 95px;
}

.slider-container{
  display: inline;
  transition: transform 0.6s ease;
}

.slide {
  width: auto;
  max-width: 100%;
  height: 600px;
  animation: 0.7s ease-in-out;
}

.slide-1 {
  position: relative;
  display: none;
  background-image: url(assets/slider-bg.png);
  background-color: #f06c64;
}

#iPhone-vert {
  position: absolute;
  left: 112px;
  bottom: 64px;
}

#vert-screen {
  position: absolute;
  width: 188px;
  height: 333px;
  background: #000000;
  left: 126px;
  bottom: 149px;
}

#vert-button {
  position: absolute;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0);
  left: 197px;
  bottom: 95px;
}

#vert-button:hover {
  cursor: pointer;
}

#iPhone-hor {
  position: absolute;
  right: 111px;
  bottom: 186px;
}

#hor-screen {
  position: absolute;
  width: 333px;
  height: 188px;
  background: #000000;
  right: 202px;
  bottom: 224px;
}

#hor-button {
  position: absolute;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0);
  right: 545px;
  bottom: 297px;
}

#hor-button:hover {
  cursor: pointer;
}

.invisible {
  display: none;
}

.slide-2 {
  position: absolute;
  display: none;
  top: 0;
  padding-top: 95px;
}

.current {
  display: block;
}

#arrow-left {
  position: absolute;
  left: 40px;
  bottom: 289px;
}

#arrow-left:hover {
  transform: scale(1.2);
}

#arrow-right {
  position: absolute;
  right: 40px;
  bottom: 289px;
}

#arrow-right:hover {
  transform: scale(1.2);
}

.slide.right-in {
  animation-name: right-in;
}

.slide.left-in {
  animation-name: left-in;
}

.slide.right-out {
  animation-name: right-out;
}

.slide.left-out {
  animation-name: left-out;
}


@keyframes right-in {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes left-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes right-out {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@keyframes left-out {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

#services {
  background-image: url(assets/services-bg.png);
  height: 500px;
  box-sizing: border-box;
  padding: 59px 40px 0 40px;
}

.services-title {
  font-size: 30px;
  letter-spacing: 0.005em;
  color: #666d89;
  font-stretch: semi-condensed;
}

.services-description {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.003em;
  text-align: justify;
  line-height: 30px;
  color: #767e9e;
  margin-top: 18px;
}

.cards-block {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 95px 95px;
  row-gap: 28px;
  justify-content: space-between;
  padding-top: 43px;
  padding-left: 1px;
}

.services-card {
  display: flex;
  height: 95px;
  overflow: hidden;
  justify-content: space-between;
}

.card-icon {
  margin-right: 20px;
  align-self: flex-start;
  padding-top: 4px;
  width: 59px; 
  height: 59px;
}

.card-text {
  width: 221px;
}

.card-title {
  font-size: 18px;
  color: #666d89;
  padding-bottom: 9px;
  font-stretch: semi-condensed;
  letter-spacing: 0.01em;
  word-spacing: -0.1em;
}

.card-description {
  font-size: 12px;
  color: #767e9e;
  line-height: 21px;
  text-align: justify;
}

.third-column {
  padding-left: 2px;
}

#portfolio {
  height: 869px;

  background-image: url(assets/portfolio-bg.png);
  background-color: #2d303a;
}

.portfolio-container {
  position: relative;
  height: 869px;

  padding: 59px 40px 75px 40px;
}

.portfolio-title {
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #666d89;
}

.portfolio-description {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.012em;
  text-align: justify;
  line-height: 30px;
  color: #767e9e;
  margin-top: 18px;
} 

.portfolio-button {
  font-size: 11.5px;
  line-height: 20px;
  letter-spacing: -0.012em;
  word-spacing: -0.012em;
  color: #767e9e;
  background: none;
  border: 1px solid #767e9e;
  border-radius: 5px;
  margin: 11px 6px 19px 0;
  padding: 0px 5.8px;
}

.all {
  padding: 0px 7px;
}

.portfolio-button:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.portfolio-button.active {
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
}

#images-block {
  display: grid;
  height: 601px;
  overflow: hidden;
  grid-template: repeat(3, 187px)/repeat(4, 220px);
  justify-content: space-between;
  row-gap: 20px;
}

.selected {
  box-sizing: border-box;
  border: 5px solid #f06c64;
}

#about {
  height: 734px;

  background-image: url(assets/about-bg.png);
  background-color: #f2f2f2;
}

.about-container {
  position: relative;

  padding: 60px 40px 0 40px;
}

.about-title {
  font-size: 30px;
  font-stretch: expanded;
  word-spacing: -0.1em;
  letter-spacing: 0.02em;
  color: #666d89;
}

.about-description {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.012em;
  text-align: justify;
  line-height: 30px;
  color: #767e9e;
  margin-top: 18px;
}

.about-cards-block {
  display: flex;
  margin-top: 44px;
  justify-content: space-between;
}

.about-card {
  max-width: 300px;
}

.second-profile-photo {
  position: relative;
  left: -1px;
}

.profile-name {
  font-size: 18px;
  color: #666d89;
  padding-bottom: 9px;
  font-stretch: semi-condensed;
  letter-spacing: 0.01em;
  margin-top: 12px;
  width: 300px;
  height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-description {
  font-size: 12px;
  color: #767e9e;
  line-height: 21px;
  text-align: justify;
  word-spacing: -0.1em;
}

.social {
  display: flex;
  width: 152px;
  justify-content: space-between;
  margin-top: 23px;
}

.social-icon:hover {
  background-color: #f48c8f;
  border-radius: 30px;
}

#quote {
  height: 654px;

  background-image: url(assets/form-bg.png);
  background-color: #f06c64;
}

.quote-container{
  position: relative;
  height: 654px;
  box-sizing: border-box;

  padding: 59px 40px 0 40px;
}

.quote-title {
  font-size: 30px;

  color: #f0d8d9;

}

.quote-description {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: -0.012em;
  text-align: justify;
  line-height: 30px;
  color: #f0d8d9;
  margin-top: 18px;
}

.form-contacts-container {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.form-field {
  width: 619px;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 14px;
  margin-bottom: 16px;
}

.form-field:focus {
  outline: none;
  border: 2px solid #f0d8d9;
  border-radius: 5px;
  
}

.one-line {
  height: 38px;
  padding-bottom: 2px;
}

textarea {
  height: 202px;
  padding-top: 11px;
  resize: none;
}

.form-field::-webkit-input-placeholder {
  font-size: 11px;
  color: #f48c8f;
}
.form-field::-moz-placeholder {
  font-size: 11px;
  color: #f48c8f;
} 
.form-field:-moz-placeholder {
  font-size: 11px;
  color: #f48c8f;
} 
.form-field:-ms-input-placeholder {
  font-size: 11px;
  color: #f48c8f;
}    

.button {
  background-color: #f0d8d9;
  color: #d6564f;
  font-size: 11px;
  font-weight: 700;
  border-radius: 5px;
  height: 28px;
  width: 100px;
}

.button:hover {
  background-color: #d6564f;
  color: #f0d8d9;
}

#message-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(45, 48, 58, 0.5);
}

#message {
  position: absolute;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  padding: 25px 30px;
  
  background: rgba(45, 48, 58, 0.9);
  border: 3px solid rgb(45, 48, 58);
  border-radius: 5px;
  
  font-size: 18px;
  color: #f0d8d9;
}

#letter-sent {
  text-align: center;
  padding-bottom: 10px;
}

.subject {
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}

.description {
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#close-btn {
  position: absolute;
  width: 60px;
  height: 20px;
  left: calc(50% - 30px);
  bottom: 10px;

  font-size: 11px;
}

.contacts-container {
  position: relative;
  top: -2px;
  width: 300px;
}

.contacts-title {
  font-size: 18px;
  color: #f0d8d9;
  padding-bottom: 9px;

  letter-spacing: 0.01em;

}

.contacts-description {
  font-size: 12px;
  color: #f0d8d9;
  line-height: 21.8px;
  word-spacing: -0.2em;
  text-align: justify;
  margin-bottom: 23px;
}

.contacts-icons {
  display: grid;
  grid-template-columns: 14px 125px;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
}

a .info {
  display: block;
}

.info {
  font-size: 12px;
  color: #f0d8d9;
  line-height: 21px;
  text-align: justify;
  justify-self: start;
  text-decoration: none;
} 

.mail {
  margin-top: 1px;
}

footer {
  height: 76px;
  
  background-image: url(assets/footer-bg.png);
  background-color: #2d303a;
}

.footer-container {
  display: flex;
  height: 76px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 42px;
}

.copyright {
  font-size: 11.5px;
  color: #606680;
  margin-bottom: 2px;
}

.footer-social {
  display: flex;
  width: 152px;
  justify-content: space-between;
  margin-top: 2px;
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .wrapper {
    overflow: hidden;
  }
  
  #slider {
    height: calc(59vw + 95px);
    min-height: 547px;
  }
  .slide {
    height: 59vw;
    min-height: 452px;
  }
  #iPhone-vert {
    width: 24vw;
    min-width: 180.85px;
    height: auto;
    left: 11vw;
    bottom: 6vw;
  }
  
  #vert-screen {
    width: 19vw;
    height: 33.5vw;
    left: 12.3vw;
    bottom: 14.4vw;
  }
  
  #vert-button {
    width: 4.4vw;
    height: 4.4vw;
    left: 19.5vw;
    bottom: 9.5vw;
  }
  
  #iPhone-hor {
    height: 24vw;
    min-height: 180.85px;
    width: auto;
    right: 11vw;
    bottom: 18vw;
  }
  
  #hor-screen {
    width: 33.5vw;
    height: 19vw;
    right: 20vw;
    bottom: 21.7vw;
  }
  
  #hor-button {
    width: 4.4vw;
    height: 4.4vw;
    right: 54vw;
    bottom: 29vw;
  }

  .slide-2 img{
    width: 100vw;
    height: auto;
  }
  
  #arrow-left {
    bottom: calc(29.5vw - 13px);
  }

  #arrow-right {
    bottom: calc(29.5vw - 13px);
  }

  #services {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: auto;
    padding: 40px 40px 64px 40px;
  }

  .cards-block {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
    column-gap: 54px;
    row-gap: 40px;
    padding-top: 40px;
    padding-left: 0;
  }
  
  .services-card {
    height: auto;
    max-height: 13.5vw;
    justify-content: unset;
  }
  
  .card-text {
    width: auto;
  }

  #portfolio {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .portfolio-container {
    height: auto;
    padding: 59px 40px 75px 40px;
  } 
  
  #images-block {
    height: calc(95.7vw + 60px);
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    justify-content: unset;
    column-gap: 20px;
    row-gap: 20px;
  }

  #images-block img::before {
    content: '';
    float: left;
    padding-top: 100%;
  }

  #images-block img {
    width: 100%;
    height: 100%;
  }
  
  #about {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-container {
    height: auto;
    padding: 60px 40px 75px 40px;
  }
  
  .about-card {
    width: 28.5vw;
    min-width: 219px;
  }

  .profile-photo {
    width: 100%;
    height: auto;
  }
  
  .profile-description {
    height: 72px;
  }

  .social {
    height: 32px;
    margin-top: 0;
  }

  #quote {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .quote-container {
    height: auto;
    padding: 53px 40px 45px 40px;
  }
  
  .form-contacts-container {
    margin-top: 20px;
  }
  
  .form-field {
    width: 57.5vw;
    min-width: 442px;
    margin-bottom: 12px;
  }
  
  textarea {
    height: 159px;
  }
  
  .contacts-container {
    width: 28.7vw;
  }
  
  #location-icon {
    display: block;
    width: 8px;
    height: auto;
  }

}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  
  .wrapper {
    overflow: hidden;
  }
  
  header {
    height: 71px;
  }
  
  .header-container {
   padding-left: 20px;
  }
  
  h1 {
    position: relative;
  
    font-size: 19.69px;
    letter-spacing: -3%;
    bottom: 0;
  }

  #menu {
    display: none;
  }

  #burger {
    display: block;
  }

  #burger:hover {
    cursor: pointer;
  }
  
  .open.header-container {
    justify-content: start;
  }

  .open #burger {
    position: relative;
    z-index: 5;
  }

  .open h1 {
    padding-left: 28.5px;
    z-index: 5;
  }

  .open .menu-container {
    position: fixed;
    display: block;
   
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(45, 48, 58, 0.6);
  }

  .open #menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 278px;
    height: 100vh;
    padding-top: 232px;
    padding-left: 71px;
    top: 0;
    left: 0;
    background: #2D303A;
    font-size: 24px;
    letter-spacing: -3.5%;
    color: #f0d8d9;
  }
  
  .open nav a {
    font-size: 24px;
    padding-bottom: 27px;
  }

  nav a::after {
    content: '';
  }

  #menu {
    animation: 0.5s ease-in-out;
  }

  #menu.slide-in {
    animation-name: slide-in;
  }

  #menu.slide-out {
    animation-name: slide-out;
  }
  
  @keyframes slide-in {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

  @keyframes slide-out {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  #burger {
    animation: 0.5s ease-in-out;
  }

  #burger.vert {
    transform: rotate(90deg);
  }

  #burger.opening {
    animation-name: opening;
  }

  #burger.close {
    animation-name: close;
  }

  @keyframes opening {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }

  @keyframes close {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  #slider {
    height: calc(59vw + 71px);
  }

  .slide {
    height: 59vw;
  }

  .for-header {
    height: 71px;
  }

  #iPhone-vert {
    width: 24vw;
    height: auto;
    left: 11vw;
    bottom: 6vw;
  }
  
  #vert-screen {
    width: 19vw;
    height: 33.5vw;
    left: 12.3vw;
    bottom: 14.4vw;
  }
  
  #vert-button {
    width: 4.4vw;
    height: 4.4vw;
    left: 19.5vw;
    bottom: 9.5vw;
  }
  
  #iPhone-hor {
    height: 24vw;
    width: auto;
    right: 11vw;
    bottom: 18vw;
  }
  
  #hor-screen {
    width: 33.5vw;
    height: 19vw;
    right: 20vw;
    bottom: 21.7vw;
  }
  
  #hor-button {
    width: 4.4vw;
    height: 4.4vw;
    right: 54vw;
    bottom: 29vw;
  }

  .slide-2 { 
    padding-top: 71px;
  }

  .slide-2 img{
    width: 100vw;
    height: auto;
  }
  
  #arrow-left {
    height: 25px;
    width: auto;
    left: 10px;
    bottom: calc(29.5vw - 12.5px);
  }

  #arrow-right {
    height: 25px;
    width: auto;
    right: 10px;
    bottom: calc(29.5vw - 12.5px);
  }

  #services {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: auto;
    padding: 25px 32px 30px 30px;
  }

  .cards-block {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    column-gap: 15px;
    padding-top: 25px;
    padding-left: 0;
  }
  
  .services-card {
    height: auto;
    max-height: 104px;
    justify-content: unset;
  }
  
  .card-text {
    width: auto;
  }

  #portfolio {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .portfolio-container {
    height: auto;
    padding: 40px 30px 12px 30px;
  } 
  
  #images-block {
    height: calc(136vw + 42px);
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    justify-content: unset;
    column-gap: 13px;
    row-gap: 14px;
  }

  #images-block img::before {
    content: '';
    float: left;
    padding-top: 100%;
  }

  #images-block img {
    width: 100%;
    height: 100%;
  }
  
  #about {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-container {
    height: auto;
    padding: 35px 30px 45px 30px;
  }
  
  .about-cards-block {
    display: block;
    margin-top: 0px;
  }

  .about-card {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
  }

  .profile-photo {
    width: 100%;
    height: auto;
  }
  
  .profile-description {
    line-height: 22px;
  }

  .social {
    height: 32px;
    margin-top: 12px;
  }

  #quote {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .quote-container {
    height: auto;
    padding: 44px 30px 42px 30px;
  }
  
  .form-contacts-container {
    display: block;
    margin-top: 20px;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 12px;
  }
  
  textarea {
    height: 159px;
  }

  .button {
    font-size: 14px;
    height: 50px;
    width: 100%;
  }
  
  .contacts-container {
    width: 100%;
    margin-top: 32px;
  }
  
  .contacts-description {
    font-weight: 300;
    margin-bottom: 20px;
  }

  #location-icon {
    display: block;
    width: 8px;
    height: auto;
  }

  .info {
    font-weight: 300;
  }

  .footer-container {
    justify-content: center;
  }

  .copyright {
    display: none;
  }
  
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .portfolio-button {
    font-size: 11px;
    margin: 11px 3px 19px 0;
    padding: 0px 4px;
  }
}